.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 20vh;
    background-color: rgb(233, 136, 79);

}
.container h1 {
    color: aliceblue;
}
.container h1 a{
    color: #fff;
    text-decoration: none;
}
.container a{
    color: #fff;
    text-decoration: none;
    
}